 <!DOCTYPE html>
<html>
      <head>
           <link rel="stylesheet"  href="css/style.css" />
           <link rel="stylesheet"  href="css/all.css" />
      </head>
      <body>
 <div class="container">
        <ul class="contact-links">
            <li><a href={{contactLink}}><i class="fab fa-facebook"></i></a></li>
            <li><a href={{contactLink}}><i class="fab fa-twitter"></i></a></li>
            <li><a href={{contactLink}}><i class="fab fa-youtube"></i></a></li>
            <li><a href={{contactLink}}><i class="fab fa-linkedin"></i></a></li>
            <li><a href={{contactLink}}><i class="fab fa-instagram"></i></a></li>
            <li><a href={{contactLink}}><i class="fab fa-google-plus"></i></a></li>
        </ul>
        <p>copyright &copy; 2024 ,all right reserved by our Firm</p>
    </div>
    </body>